<div class="section" ng-controller="bucketsController">
    <div class="container">

        <div class="row center-align">
          <h5 class="header col s12 light">Buckets</h5>
        </div>

        <div class="row">
            <!-- REPEATED CARDS -->
            <div class="col s12 m6 l6" ng-repeat="bucket in bucketList">
                <div class="card hoverable">
                    <div class="card-image">
                        <!-- <img src="/static/img/placeholder.jpg"> -->
                        <span class="card-title">{{ bucket.bucketKey }}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="deleteBucket(bucket.bucketKey)"><i class="material-icons">delete</i></a>
                    </div>
                    <div class="card-content grey lighten-4">
                        <p>Created Date: {{ bucket.createdDate }}</p>
                        <p>Policy: {{ bucket.policyKey }}</p>
                    </div>
                </div>
            </div>
            <!-- REPEATED CARDS -->

            <!-- NEW BUCKET -->
            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <!-- <img src="/static/img/placeholder.jpg"> -->
                        <span class="card-title">Create New</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="createBucket()"><i class="material-icons">add</i></a>
                    </div>

                    <div class="card-content grey lighten-4">
                        <div class="row">
                            <form role="form" ng-submit="createBucket()" class="col s12">
                                <div class="input-field col s12">
                                    <input type="text" ng-model="bucketKey" name="bucketKey" class="form-control" id="bucketKey-box" required>
                                    <label for="bucketKey-box">Bucket Name</label>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
