
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="#!" class="brand-logo"></a>

        {% if session %}
        <ul class="right hide-on-med-and-down">

            <li><a ui-sref="buckets" ui-sref-active="active">Buckets</a></li>
            <li><a href="hubs" ui-sref-active="active">Hubs</a></li>
            <li><a href="upload" ui-sref-active="active">Upload</a></li>

            <li><a class="dropdown-button" href="#!" data-activates="dropdown-user">{{ session.user.firstName }} {{ session.user.lastName }}<i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>

        <ul id="dropdown-user" class="dropdown-content">
          <li><a href="/logout">Logout</a></li>
          <li class="divider"></li>
          <li><a href="#!">Profile</a></li>
        </ul>
        {% endif %}

      </div>
    </nav>
</div>
