<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="title" content="PigeonPie">
        <title>PigeonPie</title>
        <meta name="description" content="PigeonPie">

        <meta name="google-site-verification" content="Dn1KWTK6Dm3XMYL1XHu2FUNgz4YH8bUA0YGoFkoWpi0" />

        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#28282a">
        <meta name="theme-color" content="#28282a">

        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
        <meta name="ROBOTS" content="INDEX, FOLLOW">

        <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
        <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">

        {% assets "css_assets" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" media="screen,projection"/>
        {% endassets %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >

        <script>
        var flaskSession = { user: {{session.get('user')|tojson}} };
        var spinnerTemplate = '<div class="preloader-wrapper small active">' +
                              '<div class="spinner-layer spinner-green-only">' +
                              '<div class="circle-clipper left">' +
                              '<div class="circle"></div>' +
                              '</div><div class="gap-patch">' +
                              '<div class="circle"></div>' +
                              '</div><div class="circle-clipper right">' +
                              '<div class="circle"></div>' +
                              '</div>' +
                              '</div>' +
                              '</div>'
        </script>

    </head>

    <body ng-app="PigeonPieApp" ng-cloak>


        {% if not session.user %}
            {% include 'login.html' with context %}
        {% else %}

            {% include '_nav-user.html' with context %}
            <!-- ANGULAR VIEW -->
            <div class="row" ng-controller="mainController" ng-init="getUser">
                {% raw %}
                <ul id="slide-out" class="side-nav fixed">
                  <li ng-if="isAdmin"><a href="#!/buckets"><i class="material-icons">cloud</i>Buckets</a></li>

                  <li><a ng-click="loadHubs()" href=""><i class="material-icons">device_hub</i>Hubs</a></li>

                  <li ng-if="hubList" ng-repeat="hub in hubList">
                    <a ng-click="loadProjects(hub.id)"  class="level-2" href=""><i class="material-icons">folder_open</i>{{ hub.attributes.name }} </a>
                    <ul>
                        <li ng-repeat="project in projectList[hub.id]" class="level-3">
                            <a ng-click="loadProject(project)"  class="level-3" href=""><i class="material-icons">business</i>{{ project.attributes.name }}</a>
                        </li>
                    </ul>
                  <li/>

                </ul>

                <main ng-view>
                </main>
                {% endraw %}
            </div>


        <footer class="page-footer">
            <p class="teal-text text-lighten-4">Forge API</p>
        </footer>
        {% endif %}


        <!-- START JS WEBASSETS -->
        {% assets "js_assets" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <!-- END JS WEBASSETS -->

        {# Google Analytics Script #}
        {# include 'components/__analytics.html' #}
        <!-- BASE: START CHILD SCRIPT BLOCK -->

    </body>
</html>
