<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Pigeon Pie</h1>
    <div class="row center">
      <h5 class="header col s12 light">Next Summer</h5>
    </div>
    <div class="row center">
      <a href="#!/buckets" id="download-button" class="btn-large waves-effect waves-light orange">Login</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">info</i></h2>
          <h5 class="center">Hubs</h5>
          <p class="light">Access your hubs. Here you will be able to see the Active Hubs</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">info</i></h2>
          <h5 class="center">Buckets</h5>
          <p class="light">Manage and Control the Buckets in your account.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">info</i></h2>
          <h5 class="center">Files</h5>
          <p class="light">Access your Files.</p>
        </div>
      </div>
    </div>

  </div>
</div>
