<div class="section">
    <div class="row center-align">
      <h5 class="header col s12 light">Hubs</h5>
    </div>
    <div class="row">
      <div class="col s12 m4" ng-repeat="hub in hubList">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="medium material-icons">cloud</i></h2>
          <h6 class="center"><a href="" ng-click="loadProjects(hub.id)">{{ hub.attributes.name }}</a></h6>
          <p class="light center">{{ hub.attributes.extension.type }}</p>
        </div>
      </div>
    </div>
</div>
