<div class="container">
  <div class="section" ng-controller="hubController">

    <div class="row center-align">
      <h5 class="header col s12 light">Hub</h5>
    </div>

    <div class="row">
      <div class="col s12 m4" ng-repeat="project in projectList">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="medium material-icons">cloud</i></h2>
          <h5 class="center"><a href="" ng-click="loadProject(project.id)">{{ project.attributes.name }}</a></h5>
          <p class="light center">{{ project.attributes.extension.type }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
