<div class="section">
    <div class="row center-align">
      <h5 class="header col s12 light">Projects</h5>
    </div>

    <div class="row">
      <div class="col s12 m4" ng-repeat="project in projectList">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="medium material-icons">folder_open</i></h2>
          <h6 class="center"><a href="" ng-click="loadProject(project)">{{ project.attributes.name }}</a></h6>
          <p class="light center">{{ project.attributes.extension.type }}</p>
        </div>
      </div>
    </div>
</div>
