///////////////////////////////////////////
//  MATERIALIZE +  OVERRIDES
///////////////////////////////////////////

@import '_mixins.scss';
@import '_variables-override.scss';
@import '../components/materialize/sass/materialize.scss';

// body {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

$sidebar-width: 300px;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div#login {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b9f9c+0,39ada9+55,3d9992+100 */
    background: #0b9f9c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0b9f9c 0%, #39ada9 55%, #3d9992 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0b9f9c 0%,#39ada9 55%,#3d9992 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0b9f9c 0%,#39ada9 55%,#3d9992 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b9f9c', endColorstr='#3d9992',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    min-height: 100vh;
    .btn {
        color: $primary-color;
        background: white;
    }
}

.btn {
    border-radius: 1px;
}

.side-nav.fixed{
    background-color: $brand-grey-light;
    min-height: 100vh;
    padding-top: $navbar-height;
    padding-bottom: $footer-height;
    z-index: 2;
}

#sidenav-overlay {
    z-index: 1;
}

main {
    padding-left: $sidebar-width;
    @include mobile {
        padding-left: 0;
    }
}

footer.page-footer {
    @include transition(all 0.75s ease-in-out);
    @include mobile {
        opacity: 0;
    }
    opacity: 1;
    bottom: 0px !important;
    position: fixed;
    width: 100%;
    text-align: center;
    height: $footer-height;
    z-index: 3;
    padding-top: 0;
    p {
        letter-spacing: 1px;
        font-size: 12px;
        vertical-align: middle;
        height: 70%;
    }


}

#slide-out a {
    background-clip: padding-box;
    padding-left: 10px;
    font-size: 85%;
    &.level-2 { padding-left: 20px; }
    &.level-3 { padding-left: 30px; }
    &.level-4 { padding-left: 40px; }
    i {
        margin-right: 20px;
    }
}

a.brand-logo {
    @include transition(all 0.75s ease-in-out);
    margin-left: 15px;
    @include mobile {
        @include transition(all 0.75s ease-in-out);
        margin:auto;
    }
}
img#nav-logo {
    height: 70%;
    vertical-align: middle;
}

img#logo {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    @include transition(all 0.75s ease-in-out);
    @include desktop {
        min-width: 500px;
    }
    @include mobile {
         width: 100%;
     }
}

div.card-image {
    background-color: $brand-grey;
    // min-width: 300px;
    min-height: 150px;
}

span.card-title {
    font-size: 24px !important;
    // font-size: $navbar-font-size;
    // font-weight: 600 !important;
}

.dropdown-content.active {
    // margin-top: $navbar-height;
}

.breadcrumb {
    padding-left: 20px;
    font-size: 12px;
}

#loading-bar-spinner .spinner-icon {
  // display: none;
  z-index: -1;
  border-top-color:  #0ff !important;
  border-left-color: #0ff !important;
}

#loading-bar .bar {
  background: $secondary-color;
  height: 3px;
  }


.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
// https://github.com/angular/angular.js/issues/10156#issuecomment-161275973
.ng-hide-add {
  transition: all 0s ease;
  opacity: 0;
}
